<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="#">
            <span class="align-middle">{{ appName }}</span>
        </a>

        <ul class="sidebar-nav">
            <li class="sidebar-header">Pages</li>

            <li class="sidebar-item active">
                <router-link :to="{ name: 'admin.dashboard' }" class="sidebar-link">
                    <i class="fas fa-tachometer-alt align-middle"></i>
                    <span class="align-middle">Dashboard</span>
                </router-link>
            </li>

            <li class="sidebar-item">
                <a data-bs-target="#auth" data-bs-toggle="collapse" class="sidebar-link collapsed">
                    <i class="fas fa-bars align-middle"></i>
                    <span class="align-middle">Menu Example</span>
                </a>
                <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="#">Menu Example</a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="#">Menu Example</a>
                    </li>
                </ul>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="#">
                    <i class="fas fa-bars align-middle"></i>
                    <span class="align-middle">Menu Example</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="#">
                    <i class="fas fa-bars align-middle"></i>
                    <span class="align-middle">Menu Example</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="#">
                    <i class="fas fa-bars align-middle"></i>
                    <span class="align-middle">Menu Example</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
